@model DTO.User
@using UI.Helper
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Complaint</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong> Login </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>


    @using (Html.BeginForm("Login_Post", "User", FormMethod.Post))

    {
        <div class="ibox-content">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-11">
                        @Html.HiddenFor(e => e.ID)
                        <span class="help-block m-b-none"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div>
                        <span class="col-sm-1 sm-offset-1"><label class="control-label">@Html.DisplayNameFor(e => e.Email)</label></span>
                        <span class="col-sm-3">
                            @Html.TextBoxFor(e => e.Email, new { @class = "form-control", @type="email" })
                            @Html.ValidationMessageFor(e => e.Email, "", new { @class = "text-danger" })
                        </span>
                    </div>
                    <div>
                        <span class="col-sm-1 sm-offset-1"><label class="control-label">@Html.DisplayNameFor(e => e.Password)</label></span>
                        <span class="col-sm-3">
                            @Html.TextBoxFor(e => e.Password, new { @class = "form-control", @type="password" })
                            @Html.ValidationMessageFor(e => e.Password, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-sm-12 col-sm-offset-9  col-md-12 col-md-offset-8  col-lg-4 col-lg-offset-8">
                        <span>
                            <button class="btn btn-primary btn-circle  btn-outline" type="submit">
                                <i class="fa fa-save"></i>
                            </button>
                        </span>
                    </div>

                </div>
            </div>


        </div>
    }
</div>

